body {
    background-color: rgb(241, 228, 228);
}
.welcome {
    margin: 40vh 50vh 50vh 50vh;
    font-family: 'Courgette', cursive;
    max-width: auto;
    height: auto;
    background-color: thistle;
    box-shadow: grey 5px 5px;
    color:teal;  
    font-size: x-large;
    padding: 3% 2% 3% 2%; 
    align-content: center;      
}
p {
    color: teal;
    font-size: xx-large;
    margin: auto;
}